#contact {

  h2 {
    margin-bottom: 3.5rem;
  }
}

form {
  overflow: hidden;
}

input[type=text], input[type=email], textarea {
  box-sizing: border-box;

  &.error {
    border-color: orange;
  }
}

input[type=text], input[type=email] {
  height: 50px;
  width: 49%;
  display: inline-block;

  @include media(500px) {
    width: 100%;
    display: block;
  }
}

input[type=text] {
  margin-right: 2%;
}

textarea {
  resize: none;
  height: 20rem;
  display: block;
  width: 100%;
}

.success {
  clear: left;
  margin-top: 7px;
  text-align: right;
}
