#contact {

  h2 {
    margin-bottom: 3.5rem;
  }
}

form {
  overflow: hidden;
}

input[type=text], input[type=email], textarea {
  box-sizing: border-box;

  &.error {
    border-color: orange;
  }
}

input[type=text], input[type=email] {
  height: 50px;
  width: 49%;
  display: inline-block;

  @include media(500px) {
    width: 100%;
    display: block;
  }
}

input[type=text] {
  margin-right: 2%;
}

textarea {
  resize: none;
  height: 20rem;
  display: block;
  width: 100%;
}

.success {
  clear: left;
  margin-top: 7px;
  text-align: right;
}

ul#social {
  $size: 1.4rem;
  margin-top: 7px;

  li {
    display: inline-block;
    margin: 0 $size 0 0;
  }

  a {
    text-decoration: none;
    width: $size;
    color: transparent;
    display: block;
    white-space: nowrap;

    &:before {
      @include icons($size);
      color: $text;
      transition: color 0.2s ease-in-out;
    }

    &.github:before { content: '\E800'; }
    &.facebook:before { content: '\E802'; }
    &.twitter:before { content: '\E801'; }
    &.instagram:before { content: '\E804'; }
    &.linked-in:before { content: '\E803'; }
    &.blog:before { content: '\E805'; }

    &:hover:before {
      color: $link;
    }
  }
}
