footer {
  border-top: 1px solid $border;
  padding: 3rem 0;
  overflow: hidden;
  font-size: 1.3rem;

  a {
    text-decoration: none;
    font-weight: bold;
  }

  p, ul { margin: 0 }

  p {
    float: left;

    @include media(600px) {
      float: none;
    }
  }

  ul {
    float: right;

    @include media(600px) {
      float: none;
      clear: left;
      margin-top: 2rem;

      li {
        margin: 0 15px 0 0;
      }
    }
  }

  li {
    display: inline-block;
    margin: 0 0 0 15px;
  }
}
