#tags {
  margin-bottom: 15rem;

  section {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2% 0 0;

    &:last-of-type {
      margin: 0;
    }

    @include media($container-width) {
      width: 100%;
      margin: 0 0 5% 0;
    }
  }

  h3 {
    border-bottom: 1px solid $border;
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    padding: 0 10px;
    $height: 30px;
    height: $height;
    line-height: $height;
    margin: 0 5px 0 0;
    cursor: auto;
  }
}
