- favicon = '/favicon.png'
- icon = 'https://www.goddamnyouryan.com/images/logo.png'
- title = data.page.title || 'goddamnyouryan'
- description = 'Ryan MacInnes is a web developer, programmer, and designer in Los Angeles, CA. He loves working on Ruby on Rails projects, Javascript and iOS. His forte is large, scalable and highly interactive web applicationswith a beautiful minimal approach to UI and UX.'

link rel="shortcut icon" href=favicon
meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
meta name='title' content=title
meta name='description' content=description
meta name='keywords' content='Ryan, MacInnes, goddamnyouryan, Los Angeles, CA, New York City, NY, Web Developer, Web Designer, Programmer, iOS, iPhone, freelance, consulting'
link rel='image_src' href="#{icon}"
meta property='og:image' content="#{icon}" name='thumb'
meta property='og:type' content='website'
meta property='og:url' content='https://www.goddamnyouryan.com'
meta property='og:title' content=title
meta property='og:description' content=description
