header.main {
  position: absolute;
  top: $blog-header-top;
  width: 100%;
  text-align: center;

  h1, h2 {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }

  h1 {
    margin-bottom: 1rem;

    a {
      text-decoration: none;
    }

    @include media(500px) {
      font-size: 2.5rem;
    }
  }

  h2 {
    line-height: 2.4rem;
  }
}

body.light header.main {
  color: $background;

  a {
    color: $background;
  }
}

footer {

  .container {
    margin: 0 auto;
    margin-top: 0 !important;
  }
}

body.no-image {

  header.main {
    position: relative;
    top: 0;
    margin-top: $blog-header-top;
  }
}

ul#articles {
  text-align: center;
  list-style-type: none;

  span {
    display: block;
    color: lighten($text, 40%);
  }
}
