---
title: Ryan MacInnes | Programmer, Web Developer, Designer and all around good dude in Los Angeles, CA
---

.intro
  h1 Ryan MacInnes
  p @goddamnyouryan is a programmer, web developer and designer based in Los Angeles, CA and all over the world.

= partial 'partials/nav'
= partial 'partials/work'
= partial 'partials/nav'
= partial 'partials/about'
= partial 'partials/contact'
