doctype xml
urlset xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  url
    loc http://www.goddamnyouryan.com/
    lastmod = Time.now.strftime('%Y-%m-%d')
    changefreq monthly
    priority 0.8

  url
    loc http://www.goddamnyouryan.com/blog
    lastmod = Time.now.strftime('%Y-%m-%d')
    changefreq weekly
    priority 0.7

  - blog.articles.each do |article|
    url
      loc http://www.goddamnyouryan.com#{article.url}
      lastmod = article.date.strftime('%Y-%m-%d')
      changefreq weekly
      priority 0.5
